# Database
DATABASE_URL="postgres://postgres:postgres@localhost:5432/postgres"

# OIDC
PUBLIC_OIDC_AUTHORITY=http://localhost:8080/issuer1/.well-known/openid-configuration
PUBLIC_OIDC_CLIENT_ID=default
OIDC_ROLE_CLAIM=urn:zitadel:iam:org:project:275671427955294244:roles

# App
NODE_ENV=development
ADMIN_EMAIL_WHITELIST=
ADMIN_DOMAIN_WHITELIST=dmun.de
